html, body{
  background-color: #664d6b;
  margin:0;
  padding:0;
  height:100%;
}

#container {
  min-height:100%;
  position:relative;
}
#header {
  
}
#body {
  padding:10px;
  padding-bottom:400px;   /* Height of the footer */
}
#footer {
  background-color: #67476d;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */  
  color: silver;
  font-size: large;
  
}

.wrapper {
  padding-top: 30px;
  background-color: #d5d4d6;
  border-radius: 30px;
  padding: 20px;
}

body h3 {
  margin-bottom: 25px;
}

.navbar-brand a {
  color: #ffffff;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 700px;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.warning-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #dbad42;
  border-color:  #dbad42;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.warning-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.new-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #275cbe;
  border-color:  #275cbe;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.new-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.col-md-12{
  padding: 9px !important;
}

label{
  display: inline-block;
  margin-bottom: 0.5rem;
    font-family: sans-serif;
    color: #656363;
}

.table-wrapper{
  max-width: 100% !important;
}

.form-control{
  border-radius: 9px;
}

div .logo{
  background-image: url('./common/images/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;  
  width: 50px;
  height: 50px;
}

div .title{
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(141, 140, 140);
}

div .home{
  text-align: center;
  color: #aa6fb6;
}
div .home .titulo{
  font-size: x-large;
}

div .home .subtitulo{
  font-size: large;
}

div .home .conteudo{
  font-size: medium;
}

div .servicos{
  text-align: center;
}

div .servicos ul{
  width: 50%;  
  align-content: normal;
}

div .fotoHome{
  -webkit-mask-image: linear-gradient(to top , transparent 25%, black 100%);
  background-image: url('./common/images/foto.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;  
  background-position: center;
  width: 100%;
  height: 900px;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 580px)
  and (-webkit-min-device-pixel-ratio: 2) {

    div .title{
      
    }




  }